.container {
  display: flex;
  flex-direction: column;
}
.space {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.carCards {
  display: flex;
  align-items: center;
  margin-right: -265px;
}
