.container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white100);
  gap: 30px;
  height: fit-content;
  padding: 20px 30px;
}
.finance {
  display: flex;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.header {
  color: var(--color-blue400);
}
.top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.factorsContainer {
  display: flex;
  flex-direction: column;
  gap: 17px;
  background-color: var(--color-blue200);
  padding: 15px 26px;
  border-radius: 10px;
}
