.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 25px;
}

.headerRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  background-color: var(--color-gray100);
  padding: 12px 24px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.body {
  max-height: 200px;
  overflow-y: auto;
}

.dataRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  background-color: var(--color-white100);
  padding: 12px 24px;
  border: 1px solid var(--color-gray100);
}

.cell {
  text-align: left;
  font-size: 14px;
}

.downloadCell {
  text-align: right;
}

.headerRow,
.dataRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)) 200px;
}
