.container {
  display: flex;
  gap: 20px;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  border: 1px solid var(--color-blue260);
  border-radius: 10px;
  position: relative;
}
.tag {
  position: absolute;
  top: 0px;
  left: -30px;
  width: fit-content;
  padding: 5px;
  border-radius: 10px;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.message {
  margin-bottom: 20px;
  color: var(--color-blue260);
}
.textContainer {
  cursor: pointer;
}
.unread {
  font-weight: 700;
}
.read {
  font-weight: normal;
}
.time {
  margin-left: 10px;
  font-size: 17px;
}
.icon {
  font-size: 20px;
  margin-left: 8px;
  vertical-align: middle;
  color: var(--color-blue260);
  cursor: pointer;
}
.loadMoreBtn {
  padding: 10px 20px;
  background-color: var(--color-blue260);
  color: var(--color-white100);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.loadMoreBtn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
