.messageList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
  max-height: 600px;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.messageList::-webkit-scrollbar {
  display: none;
}

.messageBox {
  display: flex;
  flex-direction: column;
  align-self: self-end;
  background-color: var(--color-white100);
  width: fit-content;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 15px;
  font-family: Inter, sans-serif;
  color: var(--color-black100);
}

.userMessage {
  align-self: flex-end;
  background-color: var(--color-white100);
  max-width: 700px;
}

.botMessage {
  align-self: flex-start;
  background-color: var(--color-white100);
  color: var(--color-black100);
}

.voteContainer {
  display: flex;
  gap: 8px;
  margin-top: 4px;
}

.voteIcon {
  font-size: 20px;
  cursor: pointer;
  color: var(--color-gray600);
}

.upvoted {
  color: var(--color-green600);
}
.downvoted {
  color: var(--color-red500);
}

.iconButton {
  cursor: pointer;
}

.suggestedActionsBox {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-top: 4px;
  gap: 8px;
}

.suggestedActionsBox button {
  padding: 6px 12px;
  background-color: var(--color-gray500);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  text-align: left;
  width: fit-content;
  align-self: flex-end;
}

.suggestedActionsBox button:hover {
  background-color: var(--color-gray400);
}

.scrollButton {
  position: sticky;
  bottom: 20px;
  align-self: center;
  background-color: var(--color-purple500);
  color: var(--color-white100);
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.scrollButton:hover {
  background-color: var(--color-purple600);
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
}

.scrollButton:hover svg {
  animation: bounce 0.6s ease infinite;
}
