.container {
  display: grid;
  grid-template-columns: 7.6375fr 4.3625fr;
  gap: 24px;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.space {
  gap: 8px;
}
.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px 0;
}
.button {
  display: inline-flex;
  border: 1px solid var(--color-black300) !important;
  flex-direction: row-reverse;
}
.list {
  margin-left: 15px;
}

.loading {
  display: flex !important;
  margin: 0px !important;
  height: 60px !important;
}
.bold {
  font-weight: Inter, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: var(--color-black500);
}

.vehicleFeatures {
  padding: 40px 75px;
}
