.container {
  display: flex;
  gap: 25px;
  flex-direction: column;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  background-color: var(--color-white300);
  justify-content: center;
  padding: 115px 260px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .container {
    padding: 50px;
  }
}
