.container {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  padding: 0 80px;
  background-color: var(--color-white300);
}

.cardContainer {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 15px 15px 115px;
  max-width: 1430px;
  width: 100%;
}
