.inputContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 400px;
  border: 1px solid var(--color-gray575);
  padding-right: 40px;
  position: relative;
  width: 100%;
}
.input {
  border: none;
  outline: none;
  background: none;
  width: 100%;
  color: var(--color-gray700);
  padding: 20px 24px;
}
.icon {
  margin-left: 20px;
}
.toggleButton {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-gray570);
  font-size: 10px;
  font-weight: 400;
  line-height: 22.5px;
}
