.navbar {
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: space-between;
  padding: 28px 60px;
}
.navContainer {
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
}
.logo {
  cursor: pointer;
}
.navList {
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}

.white {
  color: var(--color-white100);
}
.white:hover {
  text-decoration: underline;
}
.logoutContainer {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%) translateY(-10px);
  width: 120px;
  padding: 10px;
  background-color: var(--color-white100);
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  z-index: 20;
}

.logoutContainer.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}

.logout {
  padding: 10px 16px;
  background-color: var(--color-red500);
  border: none;
  border-radius: 6px;
  color: var(--color-white100);
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.2s ease;
}

.logout:hover {
  background-color: var(--color-red800);
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.bar {
  height: 3px;
  width: 100%;
  background-color: var(--color-white100);
  border-radius: 2px;
}

@media (max-width: 768px) {
  .navbar {
    padding: 28px 40px;
  }
  .hamburger {
    display: flex;
  }
  .navList {
    display: none;
  }
  .navListMobile {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-black100);
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    transform: translateY(-100%);
    pointer-events: none;
    transition: opacity 0.4s ease, transform 0.4s ease;
    z-index: -1;
    display: flex;
    opacity: 0;
  }

  .navListMobileShow {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}
