.navbar {
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: space-between;
  padding: 28px 60px;
}
.navContainer {
  display: flex;
  align-items: center;
  gap: 6px;
}
.logo {
  cursor: pointer;
}
.navList {
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}

.white {
  color: var(--color-white100);
}
.white:hover {
  text-decoration: underline;
}
