.container {
  display: flex;
  gap: 10px;
  border-radius: 44px;
  background-color: var(--color-white100_opaque_18);
  padding: 10px 30px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.container:hover {
  background-color: var(--color-black100);
}
.white {
  color: var(--color-white100);
}
