.container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  padding: 12px 24px;
  border-bottom: 1px solid var(--color-gray300);
}
.panelOpen {
  background-color: var(--color-white100);
}
.column {
  flex-direction: column;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.inputContainer {
  display: flex;
  gap: 32px;
}

.notificationContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.textContainer {
  cursor: pointer;
  padding: 5px !important;
  height: 40px;
}

.textContainer:hover {
  background-color: var(--color-gray500);
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--color-gray300);
  border-radius: 8px;
  cursor: pointer;
}

.notification:hover {
  background-color: var(--color-gray500);
}

.profilePic {
  background: none;
}

.profilePic:hover {
  background: none;
}
.tabs {
  display: flex;
  gap: 32px;
  align-items: center;
}
.tabMain {
  display: flex;
  gap: 16px;
  align-items: center;
  cursor: pointer;
}
.tabItems {
  display: flex;
  gap: 32px;
  cursor: pointer;
}
.tabItem:hover {
  color: var(--color-blue250);
}
