.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white100);
  padding: 24px 32px;
  border-radius: 12px;
  width: 350px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  outline: none;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}
.closeButton {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  color: var(--color-gray600);
}

.closeButton:hover {
  color: var(--color-black200);
}
