.priceSlider {
  display: flex;
  flex-direction: column;
  padding: 0px 24px 17px;
  gap: 30px;
}
.clearBtn {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--color-blue500);
  font-weight: bold;
  width: 35px;
}
