.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 12px;
  color: var(--color-white100);
  max-width: 160px;
  cursor: pointer;
}
.btn {
  border: none;
  outline: none;
  background: none;
  color: var(--color-white100);
  cursor: pointer;
}
