.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 3 / 2;
  border-radius: 16px;
  overflow: hidden;
}

.image {
  object-fit: cover;
  cursor: pointer;
}

.textContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  font-size: 0.875rem;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.description {
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
}

.description:hover {
  cursor: pointer;
  text-decoration: underline;
}

.tag {
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 6px 14px;
  border-radius: 30px;
  background-color: var(--color-white100);
  font-size: 0.75rem;
  font-weight: 600;
  cursor: pointer;
  z-index: 1;
}

@media (min-width: 640px) {
  .container {
    padding: 0 24px;
  }

  .description {
    font-size: 1.0625rem;
  }

  .textContainer {
    font-size: 0.9375rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0;
  }

  .description {
    font-size: 1.125rem;
  }

  .textContainer {
    font-size: 1rem;
  }
}
