.modalActions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: var(--color-white100);
  padding: 20px;
  border-radius: 12px;
  width: 400px;
  max-width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.primaryButton {
  background-color: var(--color-blue400);
  color: var(--color-white100);
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.primaryButton:disabled {
  background-color: var(--color-gray400);
  cursor: not-allowed;
}

.secondaryButton {
  background-color: var(--color-gray200);
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
