.headingsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  margin-top: 115px;
}
.subHeadingContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}
.subHeading:hover {
  cursor: pointer;
  text-decoration: underline;
}
