.container {
  min-width: 1000px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.section {
  border-top: 1px solid;
  padding-top: 20px;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.section h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--color-green600);
  margin: 0;
}

.toggle {
  font-size: 2rem;
  font-weight: bold;
  user-select: none;
  color: var(--color-black100);
}

.vehicleHeaders {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  margin-bottom: 8px;
  font-weight: bold;
  color: var(--color-black100);
  font-size: 1.1rem;
}

.row {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  padding: 12px 0;
  border-bottom: 1px solid;
  align-items: center;
  text-align: center;
}

.label {
  font-weight: 600;
  color: var(--color-black100);
  text-align: left;
}
.tick {
  color: #4caf50;
  font-size: 1.2rem;
  font-weight: bold;
}

.cross {
  color: #f44336;
  font-size: 1.2rem;
  font-weight: bold;
}
