.container {
  display: flex;
  flex-direction: column;
  padding: 115px 260px;
  gap: 40px;
}
.space {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.vehicleSwiperContainer {
  margin-right: -260px;
}
