.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.space {
  display: flex;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  gap: 50px;
}
.vehicleSwiperContainer {
  padding: 20px;
}
@media (max-width: 1024px) {
  .container {
    padding: 20px;
    gap: 32px;
  }

  .space {
    gap: 40px;
    padding: 0;
  }

  .vehicleSwiperContainer {
    padding: 16px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}
