.container {
  padding: 115px 260px;
}
.list {
  display: flex;
  justify-content: unset;
  gap: 180px;
  padding-top: 35px;
}
.subList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.text:hover {
  cursor: pointer;
  text-decoration: underline;
}
