.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.reportTypesContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.dateRange {
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.format {
  display: flex;
  flex-direction: column;
}
.buttons {
  display: flex;
  gap: 12px;
  padding: 10px 0;
}
.exportContainerInner {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white100);
  padding: 35px;
  gap: 30px;
}
.exportOptions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}
.border {
  border-bottom: 1px solid var(--color-gray200);
}
.exportContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.exportReport {
  width: fit-content;
  align-self: flex-end;
}
