.heading {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 40px;
}
.inputContainer {
  display: flex;
  gap: 8px;
  margin: 70px 0 30px;
}
.dropdownWrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.dropdown {
  width: 180px;
}
.tickIcon {
  position: absolute;
  right: 10px;
  color: var(--color-green600);
}
.yearDropdown {
  width: 270px;
}
.button {
  flex-direction: row-reverse;
  background-color: var(--color-blue500) !important;
  border-radius: 6px !important;
  padding: 21.5px !important;
}
.button:hover {
  background-color: var(--color-blue600) !important;
}
