:root {
  --color-white100: #ffffff;
  --color-white100_opaque_7: rgba(255, 255, 255, 0.07);
  --color-white100_opaque_11: rgba(255, 255, 255, 0.11);
  --color-white100_opaque_13: rgba(255, 255, 255, 0.13);
  --color-white100_opaque_18: rgba(255, 255, 255, 0.18);
  --color-white200: #e3e3e3;
  --color-white300: #f9fbfb;

  --color-gray100: #e9e9e9;
  --color-black100: #050b20;
  --color-blue500: #405ff2;
  --color-blue600: #293a91;
}
