:root {
  --color-white100: #ffffff;
  --color-white100_opaque_7: rgba(255, 255, 255, 0.07);
  --color-white100_opaque_11: rgba(255, 255, 255, 0.11);
  --color-white100_opaque_13: rgba(255, 255, 255, 0.13);
  --color-white100_opaque_18: rgba(255, 255, 255, 0.18);
  --color-white100_opaque_20: rgba(255, 255, 255, 0.2);
  --color-white200: #e3e3e3;
  --color-white250: #f9fafb;
  --color-white300: #f9fbfc;
  --color-white800: #f7fafc;

  --color-gray100: #e9e9e9;
  --color-gray190: #dbe0e6;
  --color-gray200: #e1e1e1;
  --color-gray300: #e4e4e5;
  --color-gray400: #c3c3c3;
  --color-gray450: #dddddd;
  --color-gray500: #c3cdd5;
  --color-gray525: #d8d8de;
  --color-gray540: #e2e8f0;
  --color-gray545: #e5e7eb;
  --color-gray550: #e4e4e5;
  --color-gray560: #e8edf5;
  --color-gray565: #f0f2f5;
  --color-gray570: #9e9e9e;
  --color-gray575: #757575;
  --color-gray580: #718096;
  --color-gray590: #6b7280;
  --color-gray600: #666666;
  --color-gray650: #5e6976;
  --color-gray700: #424242;

  --color-black100: #050b20;
  --color-black200: #0c0c11;
  --color-black300: #020610;
  --color-black400: #212121;
  --color-black480: #0d1d1c;
  --color-black500: #0d1722;
  --color-black600: #111111;
  --color-black1000: #000000;

  --color-pink100: #ffe9f3;

  --color-yellow500: #e1c03f;

  --color-blue100: #e9f2ff;
  --color-blue200: #e3f2fd;
  --color-blue250: #4a739c;
  --color-blue260: #4a6e9c;
  --color-blue300: #04a3fd;
  --color-blue400: #0763d3;
  --color-blue420: #0c77f2;
  --color-blue450: #0d80f2;
  --color-blue500: #405ff2;
  --color-blue600: #293a91;
  --color-blue700: #1976d2;
  --color-blue800: #1565c0;

  --color-green600: #3d923a;
  --color-green700: #005128;

  --color-purple100: #eef1fb;
  --color-purple600: #24243e;

  --color-red100: #ffe5e6;
  --color-red150: #fff5f5;
  --color-red400: #ff4444;
  --color-red500: #ef4444;
  --color-red550: #e53e3e;
  --color-red600: #cc0000;
  --color-red800: #831b1b;
}
