.title {
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 70px;
  line-height: 70px;
}
.sectionTitle {
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
}
.spacedTitle {
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
}
.numberText {
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 53.2px;
}
.cardTitle {
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
}
.priceText {
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.mediumTitle {
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
}
.navElement {
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 27.75px;
}
.modelText {
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}
.filterText {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 15.5px;
  line-height: 20px;
}

.tabText {
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 29.6px;
}

.brandText {
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.6px;
}

.footerTitle {
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.review {
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 48px;
}

.cardDescription {
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.shortText {
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
.criteriaText {
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
}
.mediumSpaced {
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 37.5px;
}
.carDescription {
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}
.priceCut {
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.tinyText {
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}
.white {
  color: var(--color-white100);
}
