.container {
  display: flex;
  align-items: center;
  height: 160px;
  justify-content: space-between;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
.notificationDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.notificationDetails {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.imageWrapper {
  flex: 0 0 355px;
  height: 160px;
}
