.container {
  display: flex;
  flex-direction: column;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 15px 265px 115px;
  background-color: var(--color-white300);
}
