.mainContainer {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 24px;
  cursor: pointer;
}
.icon {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}
.icon.rotate {
  transform: rotate(180deg);
}
