.container {
  display: flex;
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 10px;
}

.imageWrapper {
  position: relative;
  width: 50%;
  min-height: 400px;
}

.thumbnail {
  object-fit: cover;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.playButton {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  background-color: var(--color-white100);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 19px;
  padding: 80px;
  background-color: var(--color-purple100);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  flex: 1;
}

.tickContainer {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--color-white100);
  display: flex;
  align-items: center;
  padding: 2.5px;
  justify-content: center;
}

.tick {
  height: 12px;
}

.contentContainer {
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 600px;
}

.benefits {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  gap: 14px;
}

@media (max-width: 1280px) {
  .details {
    padding: 70px;
  }
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
  .imageWrapper {
    width: 100%;
    min-height: 300px;
  }
  .details {
    padding: 60px;
    border-radius: 0 0 16px 16px;
  }
  .thumbnail {
    border-radius: 16px 16px 0 0;
  }
}

@media (max-width: 768px) {
  .details {
    padding: 40px 20px;
  }
  .playButton {
    width: 70px;
    height: 70px;
  }
  .thumbnail {
    border-radius: 16px 16px 0 0;
  }
}

@media (max-width: 480px) {
  .details {
    padding: 20px;
    gap: 15px;
  }
  .playButton {
    width: 60px;
    height: 60px;
  }
  .contentContainer {
    max-width: 100%;
  }
  .thumbnail {
    border-radius: 16px 16px 0 0;
  }
}
