.carImg {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
}
.car {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.imgOverlay {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  gap: 8px;
}
.statusLabel {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: var(--color-blue400);
  color: var(--color-white100);
  padding: 4px 10px;
  border-radius: 6px;
}
