.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  padding: 40px;
  background-color: var(--color-white100);
}
.title {
  display: flex;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
.notificationSettingsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  margin-top: 10px;
}
.headerContainer {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  gap: 16px;
}
