.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  background-color: var(--color-white100);
}
.title {
  display: flex;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 16px;
}
.notificationSettingsContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
