.wrapper {
  padding: 15px;
  width: 600px;
}

.vehicleBox {
  border: 2px solid var(--color-gray500);
  border-radius: 8px;
  background-color: var(--color-gray100);
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  position: relative;
}

.addIconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color-blue400);
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
}

.addIcon {
  font-size: 48px !important;
  color: var(--color-blue400);
}

.addIconContainer:hover {
  background-color: var(--color-gray500);
}

.dropdownContainer {
  display: grid;
  gap: 16px;
  margin-top: 1rem;
}

.subHeading {
  font-size: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
