@import "@/styles/colors.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body.dark {
  --color-gray700: var(--color-white100);
  --color-background: var(--color-black100);
  background-color: var(--color-background);
  color: var(--color-gray700);
}

body {
  background-color: var(--color-white100);
  color: var(--color-gray700);
  transition: background-color 0.3s, color 0.3s;
}
.css-1u9des2-indicatorSeparator {
  display: none;
}
.css-tj5bde-Svg {
  width: 18px;
  height: 18px;
  color: var(--color-black300);
}
.css-13cymwt-control {
  border-color: var(--color-gray400) !important;
}
.loadingSpinnerWrapper {
  margin: 0px -20px;
  height: 220px;
  margin-top: 105px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
