.container {
  display: flex;
  gap: 8px;
}
.iconContainer {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-black200);
}
.featureContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.featureTitle {
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 15.88px;
  line-height: 20px;
  letter-spacing: 0.7px;
  color: var(--color-black200);
}
.featureValue {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: var(--color-black200);
}
