.container {
  display: grid;
  grid-template-columns: 3.17fr 8.83fr;
  height: 100vh;
  color: var(--color-gray700);
}

.signUpContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.subContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
}
.fields {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.inputContainer {
  display: flex;
  flex-direction: column;
}
.error {
  font-size: 12px;
  font-weight: 500;
  color: var(--color-red500);
}
.redBorder {
  border: 2px solid var(--color-red500) !important;
}
