.container {
  display: grid;
  grid-template-columns: 3.9fr 8.1fr;
  height: 100vh;
  color: var(--color-gray700);
}

.signUpContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.subContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
  width: 100%;
  max-width: 420px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.error {
  font-size: 12px;
  font-weight: 500;
  color: var(--color-red500);
}

.redBorder {
  border: 2px solid var(--color-red500) !important;
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .subContainer {
    gap: 30px;
    padding: 0 1rem;
  }

  .fields {
    gap: 14px;
  }
}
