.blog {
  display: flex;
  flex-direction: column;
  max-width: 1430px;
  width: 100%;
  margin: 0 auto;
  padding-top: 115px;
}
.cardContainer {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.blogCards {
  display: flex;
  margin-top: 30px;
  margin-bottom: 75px;
  background-color: var(--color-white100);
  justify-content: space-between;
}

.round {
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  height: 60px;
  background-color: var(--color-white100);
}
