.cardContainer {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.blogCards {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 75px;
  background-color: var(--color-white100);
}
.blog {
  display: flex;
  flex-direction: column;
  padding: 115px 260px;
}
.round {
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  height: 60px;
  background-color: var(--color-white100);
}
