.container {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: bold;
}

.infoRow {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: var(--color-blue250);
  gap: 2px;
}
