.container {
  width: 100%;
  background-color: var(--color-white100);
  border: 2px solid var(--color-gray540);
  border-radius: 8px;
  padding: 20px;
  margin-top: 32px;
}

.textContainer {
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tooltip {
  background: var(--color-white100);
  padding: 6px 10px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  pointer-events: none;
  white-space: nowrap;
  z-index: 1000;
  margin: 0;
}

.positiveChange {
  color: var(--color-green600);
  font-weight: 600;
}

.negativeChange {
  color: var(--color-red500);
  font-weight: 600;
}

.neutralChange {
  color: var(--color-gray600);
  font-weight: 600;
}
