.mainContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white800);
}
.header {
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  padding: 30px 0;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1280px;
}
.detailsContainer {
  display: grid;
  grid-template-columns: 8.5fr 3.5fr;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 24px;
}
.back {
  padding: 16px 0px;
}
.vehicle {
  padding-top: 20px;
  padding-bottom: 12px;
}
.auctionCarousel {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1280px;
}
