.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}
.detailsContainer {
  display: grid;
  grid-template-columns: 8.5fr 3.5fr;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 24px;
}
.back {
  color: var(--color-blue250);
  cursor: pointer;
}
.vehicle {
  padding-top: 20px;
  padding-bottom: 12px;
}
.auctionCarousel {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1280px;
  padding: 20px 24px;
}
.white {
  background-color: var(--color-white100);
}
