.imgContainer {
  display: flex;
  flex-direction: column;
  max-width: 740px;
  gap: 20px;
}
.allImagesContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.imageCount {
  position: absolute;
  top: -60px;
  right: 0px;
  background-color: var(--color-black200);
  color: var(--color-white100);
  padding: 8px 19.67px;
  border-radius: 2px;
}
.carImages {
  display: flex;
  gap: 9px;
}
.navigate {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 32px;
  border-radius: 0px !important;
  padding: 5px !important;
}
