.card {
  display: flex;
  flex-direction: column;
  gap: 14px;
  border-radius: 16px;
  padding: 80px;
  width: 100%;
  max-width: 685px;
  position: relative;
}
.title {
  max-width: 250px;
  max-height: 90px;
}
.description {
  max-width: 355px;
  max-height: 55.5px;
}
.image {
  position: absolute;
  right: 55px;
  bottom: 45px;
}
