.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.title {
  text-transform: uppercase;
}
.subTitle {
  color: var(--color-gray700);
  text-transform: uppercase;
}
.white {
  color: var(--color-white100);
}
