.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.title {
  color: var(--color-black400);
  text-transform: uppercase;
}
.subTitle {
  color: var(--color-gray700);
  text-transform: uppercase;
}
