.container {
  display: flex;
  gap: 30px;
  padding: 10px 10px 10px 30px;
  border-radius: 80px;
  background-color: var(--color-white100);
  flex-wrap: wrap;
}

.criteriaContainer,
.priceBtnContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  padding: 0;
  margin: 0;
}

.verticalBorder {
  border-left: 1px solid var(--color-gray100);
  height: 100%;
}

.dropdownLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.visuallyHidden {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@media (max-width: 1023px) {
  .container {
    flex-direction: column;
    gap: 15px;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
  }
}
