.container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  background-color: var(--color-white300);
  padding: 40px 20px;
}

.reviewContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1660px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 115px;
  flex-direction: column;
  gap: 40px;
}

.subContainer {
  display: flex;
  gap: 150px;
  align-items: center;
  justify-content: center;
}

.imageWrapper {
  position: relative;
  width: 100%;
  max-width: 448px;
  aspect-ratio: 448 / 470;
  flex-shrink: 0;
}

.image {
  object-fit: cover;
  border-radius: 16px;
}

.review {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.customer {
  display: flex;
  flex-direction: column;
  gap: 3.5px;
}

.stars {
  display: flex;
  gap: 2px;
}

.star::before {
  content: "★";
  color: var(--color-yellow500);
  font-size: 24px;
  font-weight: 900;
  line-height: 18.5px;
  letter-spacing: 5px;
}

.rating {
  display: flex;
  gap: 10px;
  align-items: center;
}

.ratingContainer {
  color: var(--color-white100);
  padding: 1px 10px;
  background-color: var(--color-yellow500);
  border-radius: 28px;
}

.navButtonsMobile {
  display: none;
}

@media (min-width: 1025px) {
  .reviewContainer {
    flex-direction: row;
    gap: 60px;
  }

  .navButtons {
    flex-direction: column;
    gap: 40px;
  }
}

@media (max-width: 1024px) {
  .subContainer {
    flex-direction: column;
    gap: 30px;
  }

  .nav {
    display: none;
  }

  .review {
    gap: 20px;
    text-align: center;
  }

  .customer {
    align-items: center;
  }

  .navButtonsMobile {
    display: flex;
    gap: 20px;
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 20px 12px;
    gap: 30px;
  }

  .reviewContainer {
    margin-bottom: 60px;
  }

  .subContainer {
    gap: 20px;
  }

  .star::before {
    font-size: 18px;
    letter-spacing: 2px;
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}
