.horizontalContainer {
  display: flex;
  padding: 50px 0;
}

.horizontalCarDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  color: var(--color-white100);
  background-color: var(--color-white100_opaque_7);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  max-height: 220px;
  box-sizing: content-box;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 4.5px;
}
.carInfo {
  display: flex;
  flex-direction: column;
  gap: 4.5px;
}
.mileage {
  display: flex;
  flex-direction: column;
  gap: 4.5px;
  margin: 28px 0;
}
.border {
  width: 100%;
  height: 5px;
  border-top: 1px solid var(--color-gray100);
}

.textCut {
  text-decoration: line-through;
}
.horizontalImgContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.horizontalMileageDetails {
  display: flex;
  flex-direction: column;
  gap: 17px;
  justify-content: space-between;
}
.priceContainer {
  display: flex;
  justify-content: space-between;
  gap: 110px;
}
.btnContainer {
  display: flex;
  gap: 9.5px;
  align-items: center;
  cursor: pointer;
}
.btn {
  background: none;
  border: none;
  outline: none;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: var(--color-blue500);
}
.btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.horizontalImgWrapper {
  position: relative;
  width: 318px;
  height: auto;
}

.horizontalCarImg {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
