.filters {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-gray300);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 25px 25px 0;
}
.btn {
  padding-top: 28px;
  padding-bottom: 24px;
}
.filterContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.container {
  display: flex;
  gap: 25px;
  padding: 20px 15px;
}
.resultContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.resultHeader {
  display: flex;
  justify-content: space-between;
}
.bold {
  font-weight: bold;
}
.resultHeaderText {
  display: flex;
  align-items: center;
  gap: 5px;
}
.text {
  padding: 3px 26px;
}
.star::before {
  content: "★";
  color: var(--color-green700);
  font-size: 24px;
  font-weight: 900;
  line-height: 18.5px;
  letter-spacing: 5px;
}
.results {
  display: flex;
  align-items: center;
}

.resultHeaderBottom {
  display: flex;
  justify-content: space-between;
}
.noOfResults {
  padding: 0 8px 3px 3px;
  border-right: 1px solid var(--color-gray500);
}
.location {
  margin-left: 5px;
}
.subContainer {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
  justify-content: space-between;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
