.tabContainer {
  display: flex;
  gap: 20px;
  height: 43px;
}

.tab {
  background: none;
  border: none;
  padding-bottom: 10px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
}
