.container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 154px;
  height: 150px;
  border-radius: 120px;
  background-color: var(--color-purple200);
  cursor: pointer;
  z-index: 1;
  box-sizing: border-box;
}

@media (max-width: 1023px) {
  .container {
    width: 130px;
    height: 130px;
    border-radius: 100px;
    bottom: 24px;
    right: 24px;
  }
}

@media (max-width: 639px) {
  .container {
    width: 110px;
    height: 110px;
    border-radius: 90px;
    bottom: 20px;
    right: 20px;
  }
}

.subContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  font-family: Inter, sans-serif;
  max-width: 100px;
  width: 100%;
}

@media (max-width: 639px) {
  .text {
    font-size: 16px;
    line-height: 20px;
    max-width: 80px;
  }
}
