.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--color-white100);
  justify-content: space-between;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.logoContainer {
  display: flex;
  align-items: center;
  padding: 0 30px;
  margin-top: 60px;
}
.logoHeader {
  display: flex;
  flex-direction: column;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.buttons {
  display: flex;
  gap: 10px;
  padding: 0 30px;
}
.reduced {
  max-height: 200px;
  overflow: auto;
}
.full {
  height: fit-content;
}
.searchBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 50px;
  background-color: var(--color-purple400);
  border-radius: 50%;
}
.yourConversations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  border-top: 1px solid var(--color-gray400);
  border-bottom: 1px solid var(--color-gray400);
  margin-top: 20px;
}

.text {
  font-size: small;
}
.newChat {
  background: linear-gradient(to right, #459aff, #6054ff) !important;
}
.clearBtn {
  cursor: pointer;
  color: var(--color-purple500);
}
.bottomContainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 30px;
  cursor: pointer;
}
.settingsContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  border: 1px solid var(--color-gray400);
  padding: 8px;
  border-radius: 25px;
}
.settings {
  display: flex;
  width: 34px;
  height: 34px;
  align-items: center;
  justify-content: center;
  background-color: var(--color-blue110);
  border-radius: 50%;
}
.settingsContainer:hover {
  background-color: var(--color-gray200);
}
.nameContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  border: 1px solid var(--color-gray400);
  padding: 8px;
  border-radius: 25px;
}
.nameContainer:hover {
  background-color: var(--color-gray200);
}

.name {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: var(--color-purple300);
}
