.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--color-white100);
}
.header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.logoContainer {
  display: flex;
  align-items: center;
  padding: 0 30px;
  margin-top: 60px;
}
.logoHeader {
  display: flex;
  flex-direction: column;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.buttons {
  display: flex;
  gap: 10px;
  padding: 0 30px;
}
.searchBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 50px;
  background-color: var(--color-purple600);
  border-radius: 50%;
}
.yourConversations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  border-top: 1px solid var(--color-gray400);
  border-bottom: 1px solid var(--color-gray400);
  margin-top: 20px;
}
.recentConversationsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}
.recentConversationInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 15px;
}
.recentConversations {
  display: grid;
  align-items: center;
  grid-template-columns: 8fr 3fr;
}
.recentConversations:hover {
  background-color: var(--color-blue50);
  cursor: pointer;
  border-radius: 57px;
}
.modify {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--color-blue220);
  height: 100%;
  border-top-left-radius: 57px;
  border-bottom-left-radius: 57px;
  padding: 15px;
}
.text {
  font-size: small;
}
.truncateTitle {
  max-width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.modifyContainer {
  display: flex;
  position: relative;
}
.rounded {
  position: absolute;
  right: -30px;
  background-color: var(--color-white100);
  width: 40px;
  height: 100%;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.clearBtn {
  color: var(--color-blue400);
}
.selected {
  background-color: var(--color-blue50);
  border-top-left-radius: 57px;
  border-bottom-left-radius: 57px;
  color: var(--color-blue550);
}
