.table {
  border: 1px solid var(--color-gray300);
  border-radius: 8px;
  overflow-y: auto;
  max-height: 400px;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-bottom: 1px solid var(--color-gray300);
}

.cell {
  padding: 16px;
  display: flex;
  align-items: center;
}

.amount {
  color: var(--color-blue250);
}

.time {
  color: var(--color-blue250);
}
