.container {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 6 8px 6px 16px;
  border-radius: 8px;
  width: fit-content;
  background-color: var(--color-gray560);
  cursor: pointer;
}
.dropdown {
  transform: rotate(90deg);
}
